<% layout('layout') %>

<div class="container">
    <% if (data.lenght === 0) { %>
  <div class="alert alert-danger">
    <h3>There is no results!</h3>
  </div>
    <% } else { %>
  <h2>Results for <%= query %></h2>
  <div id="products" class="row list-group">
      <% for (var i = 0; i < data.length; i++) { %>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <a href="/product/<%= data[i]._source._id %>">
          <img class="group list-group-image img-rounded" src="<%= data[i]._source.image %>" alt="" />
        </a>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <a href="/product/<%= data[i]._source._id %>"><%= data[i]._source.name %></a></h4>
          <p class="group inner list-group-item-text">
              <%= data[i]._source.description.substring(0, 140) %></p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                $<%= data[i]._source.price %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <% } %>
  </div>
    <% } %>
</div>